.button {
	padding-inline: var(--sidebar-padding-x) calc(var(--sidebar-padding-x) * 0.75);
	position: relative;
	display: flex;
	border: unset;

	container-type: size;

	&[data-active="true"] {
		--border-left-width: 2px;

		border-left: var(--border-left-width) solid
			var(--mantine-primary-color-filled);
		padding-left: calc(var(--sidebar-padding-x) - var(--border-left-width));
	}

	&.isDragged {
		cursor: grabbing;
		background-color: var(--mantine-primary-color-light-hover);
	}
}

.buttonInner {
	flex-grow: 1;
	width: 100%;
}

.buttonLabel {
	flex: 1;
	justify-content: space-between;
	gap: 8px;
}

.labelGroup {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: nowrap;

	overflow: hidden;
}

@container (max-width: 80px) {
	.buttonLabel {
		gap: 0;
	}
}

.labelTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--mantine-color-text);
}

@media (hover: hover) and (pointer: fine) {
	.button:not(:hover) {
		.actions {
			display: none;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 2px;
	/* margin-right: -4px; */

	&.actionsHidden {
		display: none;
	}

	> * {
		&:hover {
			color: var(--mantine-color-text);
			background-color: var(--mantine-primary-color-light-hover);
		}
	}
}
