.button {
	--padding-left: 12px;

	padding-inline: var(--padding-left) 8px;
	position: relative;
	display: flex;
	border: unset;

	color: var(--color);

	&:hover {
		color: var(--color-active);
	}

	&[data-active="true"],
	&.isDragged,
	&.isGhost {
		color: var(--color-active);
		background-color: var(--bg-color-active);
	}

	&[data-active="true"] {
		--border-left-width: 2px;

		border-left: var(--border-left-width) solid transparent;
		padding-left: calc(var(--padding-left) - var(--border-left-width));

		&:not(&.isGhost) {
			border-left-color: var(--mantine-color-blue-5);
		}
	}
}

[data-mantine-color-scheme="light"] {
	.button {
		--color: var(--mantine-color-gray-7);
		--color-active: var(--mantine-color-gray-9);

		--bg-color-active: var(--mantine-color-blue-0);
	}
}

[data-mantine-color-scheme="dark"] {
	.button {
		--color: var(--mantine-color-dark-1);
		--color-active: hsl(0deg 0% 95%);

		--bg-color-active: hsla(209, 75%, 20%);
	}
}

.buttonInner {
	flex-grow: 1;
	width: 100%;
}

.buttonLabel {
	flex: 1;
	justify-content: space-between;
	gap: 8px;
}

.labelGroup {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: nowrap;

	overflow: hidden;
}

.labelTitle {
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) {
	.button:not(:hover) {
		.actions {
			display: none;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 2px;
	/* margin-right: -4px; */
}

.dragHandle {
	cursor: grab;
	touch-action: none;

	&:active {
		cursor: grabbing;
	}
}
