.button {
	padding-inline: var(--sidebar-padding-x) calc(var(--sidebar-padding-x) * 0.75);
	position: relative;
	display: flex;
	border: unset;

	&[data-active="true"] {
		--border-left-width: 2px;

		border-left: var(--border-left-width) solid transparent;
		padding-left: calc(var(--sidebar-padding-x) - var(--border-left-width));

		&:not(&.isGhost) {
			border-left-color: var(--mantine-color-blue-5);
		}
	}
}

.buttonInner {
	flex-grow: 1;
	width: 100%;
}

.buttonLabel {
	flex: 1;
	justify-content: space-between;
	gap: 8px;
}

.labelGroup {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: nowrap;

	overflow: hidden;
}

.labelTitle {
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) {
	.button:not(:hover) {
		.actions {
			display: none;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 2px;
	/* margin-right: -4px; */
}

.dragHandle {
	cursor: grab;
	touch-action: none;

	&:active {
		cursor: grabbing;
	}
}
