---
import { Routes } from "~/constants/routes";
import LinkDimmed from "../ui/LinkDimmed.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";

interface Props {
	companyName: string;
}

const { companyName } = Astro.props;
---

<footer>
	<hr />
	<div class="content">
		<LinkDimmed href={Routes.Home} size="small">{companyName}</LinkDimmed>

		<div class="social">
			<LinkDimmed href="#">
				<TwitterIcon />
			</LinkDimmed>
		</div>
	</div>
</footer>

<style>
	footer {
		--pico-color: var(--pico-muted-color);
	}

	hr {
		margin-bottom: 0;
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: var(--pico-spacing);
	}

	.social {
		display: flex;
		align-items: center;
		gap: calc(var(--pico-spacing) / 2);
	}
</style>
