.input {
	overflow: hidden;
	padding-inline: 4px;
	cursor: default;

	&:not(.readOnly) {
		cursor: pointer;

		&:hover,
		&:focus,
		&:focus-visible {
			background-color: var(--mantine-color-default-hover);
		}

		&:focus,
		&:focus-visible {
			border: 1px solid var(--mantine-primary-color-filled);
		}
	}
}

.h1 {
	font-size: var(--mantine-h1-font-size);
	line-height: var(--mantine-h1-line-height);
	font-weight: var(--mantine-h1-font-weight);
}
