:root {
	/* Colors */
	--accent-color: hsl(320deg 85% 55%);

	/* Pico overrides */
	--pico-border-radius: calc(1rem / 2);
	--pico-form-element-spacing-vertical: 0.5rem;
	--pico-form-element-spacing-horizontal: 1rem;

	&[data-theme="dark"] {
		--pico-muted-color: hsl(219 11% 78%);
	}

	img {
		border-radius: var(--pico-border-radius);
	}

	button {
		text-wrap: nowrap;
	}

	[data-tooltip] {
		&:focus::before,
		&:focus::after {
			display: none;
		}

		&:focus-visible::before,
		&:focus-visible::after {
			display: block;
		}

		&:hover::before,
		&:hover::after {
			opacity: 0;

			@media (hover: hover) and (pointer: fine) {
				opacity: 1;
			}
		}
	}

	.accent {
		color: var(--accent-color);
	}
}
