---
import { Links } from "~/constants/links";
import ButtonLink from "~/components/ui/ButtonLink.astro";
import { ThemeToggle } from "~/components/ThemeToggle";
import NavMenu from "./NavMenu.astro";

interface Props {
	class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<header {...rest} class:list={[className, "header"]}>
	<NavMenu />

	<div class="right">
		<ButtonLink class="openAppButton" href={Links.SignIn} target="_blank">
			Open app
		</ButtonLink>

		<ThemeToggle />
	</div>
</header>

<style>
	@import "~/styles/media.css";

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: 0.5rem;

		padding: 0.5rem 1.25rem;
		border-bottom: 1px solid var(--pico-muted-border-color);
		background-color: var(--pico-background-color);
	}

	.right {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.openAppButton {
		padding: 0.4rem 0.8rem;
	}

	@media (--sm-down) {
		.openAppButton {
			display: none;
		}
	}
</style>
