---
import { Routes } from "~/constants/routes";
import NavLink from "~/components/ui/NavLink.astro";
---

<nav>
	<NavLink href={Routes.Home}>Home</NavLink>
	<NavLink href={Routes.Pricing}>Pricing</NavLink>
</nav>

<script is:inline>
	const hideCurrentPathLink = () => {
		const { pathname } = window.location;

		const selector = `nav [href='${pathname}']`;
		const currentPathLink = document.querySelector(selector);

		currentPathLink?.style.setProperty("display", "none");
	};

	// on load
	hideCurrentPathLink();

	// on view transition
	document.addEventListener("astro:after-swap", hideCurrentPathLink);
</script>

<style>
	nav {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
</style>
