.formItem {
	position: relative;

	&:not(:hover) {
		.delete {
			display: none;
		}
	}

	&:hover {
		.delete {
			background-color: inherit;

			&:hover {
				background-color: var(--mantine-color-gray-light-hover);
			}
		}
	}
}

.delete {
	position: absolute;
	right: 0;
	top: 0;
}

[data-view-type="list"] {
	.delete {
		top: 6px;
	}
}
