---
import ButtonLink from "~/components/ui/ButtonLink.astro";
import { Links } from "~/constants/links";

interface Props {
	class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div {...rest} class:list={[className, "wrapper"]}>
	<ButtonLink href={Links.DemoBuilder}>Create a free form</ButtonLink>
	<small>No sign up required</small>
</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc(var(--pico-spacing) / 2 - 2px);

		small {
			color: var(--pico-muted-color);
			padding-inline: 4px;
		}
	}
</style>
