.header {
	border-bottom: 1px solid var(--color-border);
}

.inner {
	display: flex;
	align-items: center;
	justify-content: end;

	gap: var(--mantine-spacing-sm);
	padding: calc(var(--mantine-spacing-md) / 2) var(--mantine-spacing-md);
}
