---
import { ToggleButtonId } from "./helpers/constants";
import ToggleIcon from "./ToggleIcon.astro";
---

<button
	transition:persist
	role="switch"
	id={ToggleButtonId}
	class="themeToggleButton"
	data-tooltip="Switch to Light mode"
	data-placement="left"
>
	<ToggleIcon />
</button>

<style>
	.themeToggleButton.themeToggleButton {
		--padding: 0.3rem;

		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--pico-contrast);
		background: transparent;
		border: 1px solid transparent;

		border-radius: var(--pico-border-radius);
		padding: var(--padding);
		margin-right: calc(var(--padding) * -1);

		@media (hover: hover) {
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}
</style>

<script>
	import { ToggleButtonId } from "./helpers/constants";
	import { toggleTheme } from "./helpers/toggleTheme";
	import { watchSystemTheme } from "./helpers/watchSystemTheme";

	watchSystemTheme();

	const toggleButton = document.getElementById(ToggleButtonId);

	toggleButton?.addEventListener("click", toggleTheme);
</script>
