---
import Hero from "./sections/Hero.astro";
import MidCTA from "./sections/MidCTA.astro";
import BottomCTA from "./sections/BottomCTA.astro";
---

<div class="wrapper">
	<Hero />
	<MidCTA />
	<BottomCTA />
</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
