.content {
	display: grid;
	grid-template-columns: var(--nav-width) 1fr;
	grid-template-areas: "nav main";
}

.nav {
	--fields-height: 58%;
	--gap: 2%;
	--endings-height: calc(100% - (var(--fields-height) + var(--gap)));

	grid-area: nav;

	display: grid;
	grid-template-rows: var(--fields-height) var(--endings-height);
	gap: var(--gap);
}

.main {
	grid-area: main;
	display: grid;
}
