.content {
	display: grid;
	grid-template-columns: var(--nav-width) 1fr;
	grid-template-areas: "nav main";
}

.nav {
	grid-area: nav;

	display: grid;
	grid-template-rows: 60% 38%;
	gap: 2%;
}

.main {
	grid-area: main;
	display: grid;
}
