.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 1;

	gap: var(--mantine-spacing-xs);
}

.questionWrapper {
	display: flex;
	align-items: center;
	flex: 1;

	padding: 20px 0;

	border: calc(0.0625rem * var(--mantine-scale)) solid
		var(--mantine-color-default-border);
	border-radius: var(--mantine-radius-default);
}
