---
import { Routes } from "~/constants/routes";
import LinkDimmed from "../LinkDimmed.astro";
import Twitter from "./icons/Twitter.astro";

interface Props {
	companyName: string;
}

const { companyName } = Astro.props;
---

<div class="bottom">
	<LinkDimmed href={Routes.Home} size="small">{companyName}</LinkDimmed>

	<div class="social">
		<LinkDimmed href="#">
			<Twitter />
		</LinkDimmed>
	</div>
</div>

<style>
	.bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.social {
		display: flex;
		align-items: center;
		gap: calc(var(--pico-spacing) / 2);
	}
</style>
