---
import { Links } from "~/constants/links";
import ButtonLink from "~/components/ui/ButtonLink.astro";
import { ThemeToggle } from "~/components/ThemeToggle";
import NavLink from "~/components/ui/NavLink.astro";
import GithubIcon from "~/components/icons/GithubIcon.astro";
import NavMenu from "./NavMenu.astro";

interface Props {
	class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<header {...rest} class:list={[className, "header"]}>
	<NavMenu />

	<div class="right">
		<ButtonLink class="openAppButton" href={Links.SignIn} target="_blank">
			Open app
		</ButtonLink>

		<NavLink
			href={Links.Github}
			target="_blank"
			data-tooltip="Source"
			data-placement="left"
		>
			<GithubIcon />
		</NavLink>

		<div class="divider"></div>

		<ThemeToggle />
	</div>
</header>

<style>
	@import "~/styles/media.css";

	.header {
		--border: 1px solid var(--pico-muted-border-color);

		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: 0.5rem;

		padding: 0.5rem 1.25rem;
		border-bottom: var(--border);
		background-color: var(--pico-background-color);
	}

	.right {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.openAppButton {
		padding: 0.4rem 0.8rem;
	}

	.divider {
		width: 1px;
		height: 2rem;
		border-right: var(--border);
	}

	@media (--sm-down) {
		.openAppButton {
			display: none;
		}
	}
</style>
