---
import CTASection from "../components/CTASection.astro";
---

<CTASection imgSrc="/landing/hero.webp" wrapperClass="wrapperClass">
	<h1 slot="title">
		A fully-functional <span class="accent">Typeform</span> clone
	</h1>
	<p slot="description">
		Start <b>building</b> without authorization.
		<br />
		Create account to <b>share and manage</b> your forms and <b
			>review responses</b
		>.
	</p>
</CTASection>

<style>
	@import "~/styles/media.css";

	.wrapperClass.wrapperClass {
		grid-template-areas:
			"title"
			"description"
			"button"
			"image";

		h1 {
			grid-area: title;
			font-size: 2.5rem;
		}

		p {
			grid-area: description;
		}

		img {
			grid-area: image;
			margin-top: calc(var(--pico-spacing) * 2.25);
		}

		@media (--lg-up) {
			grid-template-areas:
				"image ."
				"image title"
				"image description"
				"image button"
				"image .";
		}
	}
</style>
