---
import CTASection from "../components/CTASection.astro";
---

<CTASection imgSrc="/landing/second.webp">
	<h2 slot="title">Another competitive advantage</h2>
	<p slot="description">
		Description of the <b>advantage</b> here.
	</p>
</CTASection>

<CTASection isOdd imgSrc="/landing/third.webp">
	<h2 slot="title">Last time we do it</h2>
	<p slot="description">Maybe this is too much, really.</p>
</CTASection>
