[data-mantine-color-scheme="light"] {
  .button {
    color: var(--mantine-color-gray-7);

    &[data-active="true"] {
      color: var(--mantine-color-blue-8);
      background-color: var(--mantine-color-blue-0);
      border-left-color: var(--mantine-color-blue-5);
    }
  }
}

[data-mantine-color-scheme="dark"] {
  .button {
    color: var(--mantine-color-dark-1);

    &[data-active="true"] {
      color: var(--mantine-color-blue-1);
      background-color: rgba(24, 100, 171, .45);
      border-left-color: var(--mantine-color-blue-5);
    }
  }
}

.button {
  padding-inline: 12px;
  position: relative;
}

.labelGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;

  overflow: hidden;
}

.labelTag {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;

  padding: 4px 6px;
  color: black;
  border-radius: 6px;
}

.choice {
  background-color: var(--mantine-color-grape-2);
}

.text {
  background-color: var(--mantine-color-blue-2);
}

.labelTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:not(:hover) .removeButton {
  display: none;
}

.removeButton {
  position: absolute;
  right: 0;
}
