.button {
	--padding-left: 12px;

	padding-inline: var(--padding-left) 8px;
	position: relative;
	display: flex;

	&[data-active="true"] {
		--border-left-width: 4px;

		border-left-width: var(--border-left-width);
		padding-left: calc(var(--padding-left) - var(--border-left-width));
	}
}

[data-mantine-color-scheme="light"] {
	.button {
		color: var(--mantine-color-gray-7);

		&[data-active="true"],
		&.isDragged,
		&.isGhost {
			color: var(--mantine-color-blue-8);
			background-color: var(--mantine-color-blue-0);
		}

		&[data-active="true"]:not(&.isGhost) {
			border-left-color: var(--mantine-color-blue-5);
		}
	}
}

[data-mantine-color-scheme="dark"] {
	.button {
		color: var(--mantine-color-dark-1);

		&[data-active="true"],
		&.isDragged,
		&.isGhost {
			color: var(--mantine-color-blue-1);
			background-color: rgba(24, 100, 171, 0.45);
		}

		&[data-active="true"]:not(&.isGhost) {
			border-left-color: var(--mantine-color-blue-5);
		}
	}
}

.buttonInner {
	flex-grow: 1;
	width: 100%;
}

.buttonLabel {
	flex: 1;
	justify-content: space-between;
	gap: 8px;
}

.labelGroup {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: nowrap;

	overflow: hidden;
}

.labelTitle {
	overflow: hidden;
	text-overflow: ellipsis;
}

.button:not(:hover) .actions {
	display: none;
}

.actions {
	display: flex;
	align-items: center;
	gap: 2px;
	margin-right: -4px;
}

.dragHandle {
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}
