.button {
  padding-inline: 12px;
}

.labelGroup {
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px 6px;
  color: black;
  border-radius: 6px;
}

.choice {
  background-color: var(--mantine-color-grape-2);
}

.text {
  background-color: var(--mantine-color-blue-2);
}
