.wrapper {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 1;

	height: 100%;
	gap: 24px;
	padding-inline: 32px;

}



.optionWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.submitButton.submitButton {
	font-weight: bold;
	width: unset;
}
