.root {
	display: flex;
	flex-direction: column;
	flex: 1;

	padding-inline: 40px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 1;

	gap: 32px;
	max-width: 720px;
	margin: 0 auto;
}

.optionWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.submitButton.submitButton {
	font-weight: bold;
	width: unset;
}
