.root {
	--sidebar-max-width: 240px;

	--sidebar-left-width: minmax(min(115px, var(--sidebar-max-width)), 1fr);
	--sidebar-right-width: minmax(min(170px, var(--sidebar-max-width)), 1fr);

	display: grid;
	grid-template-areas: "left main right";
	grid-template-columns: var(--sidebar-left-width) 4fr var(
			--sidebar-right-width
		);

	overflow-x: auto;
}

.sidebar,
.main {
	display: grid;
}

.sidebar.left {
	grid-area: left;
}

.main {
	grid-area: main;
	min-width: max-content;
	border-left: var(--border);
	border-right: var(--border);
}

.sidebar.right {
	grid-area: right;
}
