---
interface Props {
	href: string;
	id?: string;
	class?: string;
	target?: string;
}

const { class: className, ...rest } = Astro.props;
---

<a type="button" role="button" {...rest} class:list={[className]}>
	<slot />
</a>

<style>
	a {
		margin: 0;
	}
</style>
