---
interface Props {
	href: string;
	id?: string;
	target?: string;
	class?: string;
}

// what rest props are for: https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component
const { class: className, ...rest } = Astro.props;
---

<a
	{...rest}
	role="button"
	class:list={[className, "button"]}
	data-astro-prefetch="viewport"
>
	<slot />
</a>

<style>
	.button.button {
		color: var(--pico-muted-color);
		font-weight: 500;
		background-color: unset;
		border: unset;
		padding: 0.2rem 0.4rem;
		border: 1px solid transparent;

		&:hover {
			color: var(--pico-h2-color);
			text-decoration: underline;
		}
	}
</style>
