---
import CTASection from "../components/CTASection.astro";
---

<CTASection noCTA imgSrc="/landing/second.webp">
	<h2 slot="title">Learning by building</h2>
	<p slot="description">
		Explored what it takes to build a little <b>SaaS from scratch</b>. And what
		tools can help make a <b>simple but solid</b> product faster.
	</p>
</CTASection>

<CTASection isOdd imgSrc="/landing/third.webp">
	<h2 slot="title">Last time we do it</h2>
	<p slot="description">Maybe this is too much, really.</p>
</CTASection>
